.country-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.country-flag-container img {
    width: 100px;
}

@media screen and (max-width: 576px) {
    .country-container{
        grid-template-columns: 1fr;
    }
}
 
@media screen and (min-width: 576px) and (max-width: 768px) {
    .country-container{
        grid-template-columns: repeat(2, 1fr);
    }
}